<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>DockZoom</string>
	<key>CFBundleDisplayName</key>
	<string>DockZoom</string>
	<key>CFBundleIdentifier</key>
	<string>com.dockzoom.app</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2.2</string>
	<key>CFBundleExecutable</key>
	<string>DockZoom</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSAppleEventsUsageDescription</key>
	<string>需要发送 AppleScript 事件以一次恢复多个最小化的 Finder 窗口</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 DockZoom. MIT License.</string>
</dict>
</plist>
